<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>AdventureXP - Reservationer</title>
</head>

<body>

<div id="navbarHost">
    <nav class="navbar navbar-employee">
        <div class="navbar-left">
            <a class="brand" href="/overview.html">AdventureXP Medarbejder</a>
        </div>
        <div class="navbar-right">
            <a class="nav-link" href="/overview.html">Home</a>
            <a class="nav-link" href="/overview.html">Reservationer</a>
            <button id="logoutBtn" class="nav-btn" type="button">Log ud</button>
        </div>
    </nav>
</div>

<h1>Reservationer</h1>

<div>
    <button id="dayBtn">Dag</button>
    <button id="weekBtn">Uge</button>
    <button id="monthBtn">Måned</button>
</div>

<h2 id="periodTitle"></h2>

<div id="reservations"></div>

<link rel="stylesheet" href="/fragments/navbar.css">
<script src="/fragments/navbar-loader.js"></script>
<script>
    mountFragment("navbarHost", "/fragments/employee-navbar.html");
</script>
<script src="Login.js"></script>
<script src="script.js"></script>

</body>
</html>